<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="myform[optionsRadios]" id="optionsRadios1" value="<%= typelist.name %>">
    <%= typelist.name %>
  </label>
</div>


